<div class="container mt-5">
  <form class="form-auth" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row m-auto">
      <h1 class="mb-3 font-weight-normal" style="padding-left: 15px;padding-right:15px">Sign in</h1>
      <div class="col-12">
        <div class="form-group">
          <label for="name" class="sr-only">User name</label>
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="User name">

          <div
            *ngIf="(registerForm.controls.name.touched || isFormSubmitted)&& registerForm.controls.name.errors&& registerForm.controls.name.errors.required != null"
            class="text-danger">User name is required
          </div>
          <div
            *ngIf="(registerForm.controls.name.touched || isFormSubmitted)&& registerForm.controls.name.errors&& registerForm.controls.name.errors.minlength != null"
            class="text-danger">min length is 5
          </div>
          <div
            *ngIf="(registerForm.controls.name.touched || isFormSubmitted)&& registerForm.controls.name.errors&& registerForm.controls.name.errors.maxlength != null"
            class="text-danger">max length is 50
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="text" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address">
          <div
            *ngIf="(registerForm.controls.email.touched || isFormSubmitted)&& registerForm.controls.email.errors&& registerForm.controls.email.errors.required != null"
            class="text-danger">Email is required
          </div>
          <div
            *ngIf="(registerForm.controls.email.touched || isFormSubmitted)&& registerForm.controls.email.errors&& registerForm.controls.email.errors.email != null"
            class="text-danger">Not valid email
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input formControlName="password" type="password" id="inputPassword" class="form-control"
            placeholder="Password">
          <div
            *ngIf="(registerForm.controls.password.touched || isFormSubmitted)&& registerForm.controls.password.errors&& registerForm.controls.password.errors.required != null"
            class="text-danger">password is required
          </div>
          <div
            *ngIf="(registerForm.controls.password.touched || isFormSubmitted)&& registerForm.controls.password.errors&& registerForm.controls.password.errors.minlength != null"
            class="text-danger">min length is 5
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="mt-4">
          <p>Already have account ? <span style="color: rgb(230, 196, 5);"><a [routerLink]="'/login'"
                style="text-decoration:underline;color:black;">Sign in</a>
            </span>
          </p>
        </div>
      </div>

    </div>

  </form>
</div>
